.sidebar__container {
  position: fixed;
  display: inline-block;
  height: 100%;
  color: white;
  background-color: black;
  padding: 10px;
  width: 200px;
  padding: 0;
}

.sidebar__header {
  padding: 10px;
  font-weight: 700;
  font-size: 18px;
}
