/* .container-with-sidebar {

} */

.content-beside-sidebar {
  position: absolute;
  left: 200px;
  right: 0;
  height: 100%;
  padding: 30px;
}

/* .container-without-sidebar {

} */

.content-no-sidebar {
  padding: 30px;
}

@media screen and (max-width: 480px) {
  .content-no-sidebar {
    padding: 15px;
  }
}
